# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtualenv
venv/
ENV/
env/
.venv/
venv.bak/
venv-*/

# Pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# SQLite DB
*.db
banco.db

# Jupyter
.ipynb_checkpoints

# mypy
.mypy_cache/

# logs
*.log

# Alembic compiled files
alembic/versions/*.pyc
